<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Beekin Indeed Scraper API</title>
</head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body>

	{% block content %}
	{% endblock %}

</body>
</html>