{% extends "console/base.html" %}

{% block content %}

<style type="text/css">
	.formbox {
		margin-top:10%;
	}
</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissable {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            {{ message|linebreaks }}
        </div>
    {% endfor %}
{% endif %}

<div class="container h-100 formbox">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto vertical-center">
            <div class="card h-100 border-primary justify-content-center d-flex align-items-center border-0">
                <div>
                   <div class="row">
						<form method="POST" action="{% url 'console:scrape' %}">{% csrf_token %}
						  <div class="mb-3">
						    <label for="query" class="form-label">Query</label>
						    <input type="text" class="form-control" id="query" name="query" aria-describedby="query">
						    <div id="queryHelp" class="form-text">Query to look for (node, python, express ...).</div>
						  </div>
						  <div class="mb-3">
						    <label for="language" class="form-label">Language</label>
							<select name="language" class="form-control" id="language">
							  <option value="fr">France</option>
							  <option value="en">US</option>
							  <option value="uk">UK</option>
							  <option value="de">Germany</option>
							</select>
						    <div id="languageHelp" class="form-text">Language or country to look for</div>
						  </div>
						  <div class="mb-3">
						    <label for="location" class="form-label">Location</label>
						    <input type="text" class="form-control" name="location" id="location" aria-describedby="location">
						    <div id="locationHelp" class="form-text">location to look for (Paris, London, Nevada ...)</div>
						  </div>
						  <div class="mb-3">
						    <label for="radius" class="form-label">Radius</label>
						    <input type="number" class="form-control" name="radius" id="radius" aria-describedby="radius">
						    <div id="radiusHelp" class="form-text">Radius of search based on location</div>
						  </div>
						  <div class="mb-3">
						    <label for="limit" class="form-label">Nbr of result</label>
						    <input type="number" class="form-control" name="limit" id="limit" aria-describedby="limit">
						    <div id="limitHelp" class="form-text">Number of queries.</div>
						  </div>
						  <button type="submit" class="btn btn-primary pull-right">Scrape</button>
						</form>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
